body {
  font-family: 'Cormorant', serif;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: #000;
}

.menu {
  width: 15%;
  height: 100%;
  position: fixed;
  background: #fff;
  box-shadow: 4px 0px 28px -2px rgba(0, 0, 0, 0.69);
}

nav {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}

nav a {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-bottom: 15%;
}

nav img {
  width: 50px;
  margin-top: 10%;
}

.redesSociales {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 50%;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}

.content {
  margin-left: 15.1%;
}

.seccionProductos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seccionProductos h2 {
    position: relative;
    bottom: 30px;
    font-size: 3em;
}

.seccionProductos .p1 {
    width: 80%;
    position: relative;
    bottom: 50px;
    font-size: 1.5em;
    font-weight: 300;
    text-align: center;
}

.listaProductos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.prod {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    align-items: center;
}

.prod p {
    width: 50%;
    position: relative;
    bottom: 10px;
    text-align: center;
    font-size: 1.3em;
    border-bottom: 1px solid black;
}


.listaProductos img {
    width: 340px;
    height: 250px;
}